<div class="container1" id="accordionExample">
	<div class="card">
		<div class="accordion-item">
		<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			<strong>Adresse: {{ customer_record.Adresse }} </strong>
		</button>
		 <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
		<form action="" method="POST">
			{% csrf_token %}
			<ul class="grid">
				<li class="list-group-item"><strong>BFE-nummer: </strong>{{ customer_record.BFE_Nummer }}</li>
				<li class="list-group-item"><strong>Kommune: </strong>{{ customer_record.Kommune }}</li>
				<li class="list-group-item"><strong>Region: </strong>{{ customer_record.Region }}</li>
				<li class="list-group-item"><strong>Kontaktperson: </strong>{{ customer_record.Kontaktperson }}</li>
				<li class="list-group-item"><strong>Mail: </strong>{{ customer_record.Mail }}</li>
				<li class="list-group-item"><strong>Telefonnummer: </strong>{{ customer_record.Telefonnummer }}</li>
				<li class="list-group-item"><strong>M<sup>2</sup>: </strong>{{ customer_record.m2 }}</li>
				<li class="list-group-item"><strong>Kommuneplan: </strong>{{ customer_record.Kommuneplan }}</li>
				<li class="list-group-item"><strong>Lokalplan: </strong>{{ customer_record.Lokalplan }}</li>
				<li class="list-group-item"><strong>Formål: </strong>{{ customer_record.Formaal }}</li>
				<li class="list-group-item"><strong>Lead: </strong>{{ customer_record.Lead }}</li>
				<li class="list-group-item"><strong>Status: </strong>{{ customer_record.Status }}</li>
			</ul>
		</div>
	</div>
</div>
</div>
		{% for field in form %}
		<div class="form-group">
			{{ field.label_tag }}
			{{ field }}
		</div>
	</form>
</div>
</div>